{% load static %}
<table width="1000" border="0" align="center" cellpadding="0"
	cellspacing="0">
	<tr>
		<td>
			<table width="1003" height="154" border="0" align="center"
				cellpadding="0" cellspacing="0" class="margin">
				<tr>
					<td width="82%" valign="top">
						<table width="747" height="313" border="0" cellpadding="0"
							cellspacing="0" bgcolor="#FFFFFF" class="bor1">
							<tr>
								<td height="27" colspan="2" valign="top">
									<table width="100%" height="35" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/newbg.jpg">
										<tr>
											<td width="17">
												&nbsp;
											</td>
											<td width="310" align="left">
												<span class="font1">图片新闻</span>
											</td>
											<td width="372" align="left">
												<span class="font1">招标新闻</span>
											</td>
											<td width="46" align="left">
												<a href="article.php?cat_id=42">更多&gt;&gt;</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="328" height="207" align="center" valign="middle"
									style="padding-top: 5px;">
									<script type="text/javascript">
var focus_width=320;
var focus_height=240;
var text_height=23;
var swf_height = focus_height+text_height
var pics='{% get_static_prefix %}js/tender/uploadfile/2013-02-26/20130226120025960.jpg|{% get_static_prefix %}js/tender/uploadfile/2013-02-26/20130226115921215.jpg|{% get_static_prefix %}js/tender/uploadfile/2013-04-19/20130419103842915.jpg';		//图片
var links='||' ;		//链接
var texts='|中国招标投标协会第一届理事会第九次全体会议在京召开|河北奥冠电源有限责任公司';	//标题
				
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{% get_static_prefix %}js/tender/swf/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#DADADA">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+(focus_width+2)+'&borderheight='+(focus_height+2)+'&textheight='+text_height+'">');
document.write('<embed src="{% get_static_prefix %}js/tender/swf/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#DADADA" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
//-->
</script>
								</td>
								<td width="417" valign="top" class="padding0">
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=47507'
													title="电子化采购：精细化管理的必由之路">电子化采购：精细化管理的必由之路</a>
											</td>
											<td width="10%" class="date">
												03-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=44958'
													title="八部委联合制定电子招标投标办法">八部委联合制定电子招标投标办法</a>
											</td>
											<td width="10%" class="date">
												03-12
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=42408'
													title="国资委部署2013年管理任务 央企管理诊断要下基层  DateTime:2013-02-28">国资委部署2013年管理任务
													央企管理诊断要下基层 ..</a>
											</td>
											<td width="10%" class="date">
												03-01
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=41255'
													title="国家发展改革委会同国务院七个部门发布电子招标投标办法">国家发展改革委会同国务院七个部门发布电子招标投..</a>
											</td>
											<td width="10%" class="date">
												02-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=31423'
													title="国务院法制办、国家发展改革委、监察部负责人就《中华人民共和国招标投标法实施条例》有关问题答记者问">国务院法制办、国家发展改革委、监察部负责人就《..</a>
											</td>
											<td width="10%" class="date">
												12-03
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=26296'
													title="池店安置房三期工程桩基检测项目招标公告 ">池店安置房三期工程桩基检测项目招标公告 </a>
											</td>
											<td width="10%" class="date">
												10-31
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=23195'
													title=" 禁止国家工作人员非法干涉招投标"> 禁止国家工作人员非法干涉招投标</a>
											</td>
											<td width="10%" class="date">
												10-17
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=22722'
													title="长春市南关区2012年标准化街路牌匾整治项目 ">长春市南关区2012年标准化街路牌匾整治项目
												</a>
											</td>
											<td width="10%" class="date">
												10-16
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=14270'
													title="云南境内最大电站华能糯扎渡水电站首台机组6日投产发电 ">云南境内最大电站华能糯扎渡水电站首台机组6日投产..</a>
											</td>
											<td width="10%" class="date">
												09-06
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0" style="font-size: 13px">
										<tr>
											<td width="3%" align="center">
												<img
													src="{% get_static_prefix %}js/tender/templates/default/images/icon1.jpg"
													width="4" height="4" />
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=14192'
													title=" 发改委决定对洁净煤发电等重大项目即报即审  "> 发改委决定对洁净煤发电等重大项目即报即审 </a>
											</td>
											<td width="10%" class="date">
												09-06
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="18%" valign="top">
						<table width="250" border="0" cellpadding="0" cellspacing="0"
							bgcolor="#FFFFFF" class="bor1">
							<tr>
								<td width="375" height="27" valign="top">
									<table width="100%" height="35" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/newbg.jpg">
										<tr>
											<td width="6">
												&nbsp;
											</td>
											<td align="center" class="menu">
												<table width="117" height="32" border="0" cellpadding="0"
													cellspacing="0"
													background="{% get_static_prefix %}js/tender/templates/default/images/bg3.jpg">
													<tr>
														<td align="center">
															供应商会员登陆
														</td>
													</tr>
												</table>
											</td>
											<td width="116" align="right" class="more">
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="27" valign="top" class="padding10">


									<table width="95%" height="90" border="0" align="center"
										cellpadding="0" cellspacing="0" class="margin">
										<form method="post" name="loginbox" action="user.php"
											onSubmit="return checkform();">
											<tr>
												<td width="26%" height="20">
													用户名：
												</td>
												<td width="74%" height="20">
													<input name="username" type="text" id="username" size="20"
														class="logininput">
												</td>
											</tr>
											<tr>
												<td height="20">
													密&nbsp;&nbsp;码：
												</td>
												<td height="20">
													<input name="password" type="password" id="password"
														size="20" class="logininput">
												</td>
											</tr>
											<tr>
												<td height="20" align="center">
													&nbsp;
												</td>
												<td height="20" align="left">
													<input name="Submit22" type="submit" class="login"
														value=" " />
													&nbsp;
													<input name="Submit" type="button" class="quxiao" value=" "
														onclick="location.href='user.php?act=register'">
												</td>
											</tr>
										</form>
									</table>
									<table width="95%" height="141" border="0" align="center"
										cellpadding="0" cellspacing="0">
										<tr>
											<td align="center">
												<table width="213" border="0" cellpadding="0"
													cellspacing="3">
													<tr>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															项目运作支持
														</td>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															邀标推荐入围
														</td>
													</tr>
													<tr>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															邮件定制
														</td>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															竞争对手监控
														</td>
													</tr>
													<tr>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															监控最新招标
														</td>
														<td width="102" height="28"
															background="{% get_static_prefix %}js/tender/templates/default/images/fb5.jpg"
															style="padding-left: 20px; color: #FFFFFF">
															优先进入预选
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<table width="96%" height="67" border="0" align="center"
													cellpadding="0" cellspacing="0" style="line-height: 20px;">
													<tr>
														<td height="60">
															<strong>入会咨询</strong>：86-010-87674470
															<br />
															<strong>客服电话</strong>：86-010-87677958
															<br />
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13521175562
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="margin">
				<tr>
					<td>
						<script type="text/javascript">
var focus_width=498;
var focus_height=100;
var text_height=0;
var swf_height = focus_height+text_height
var pics='{% get_static_prefix %}js/tender/uploadfile/2013-02-28/20130228083244734.jpg';		//图片
var links='' ;		//链接
var texts='横幅广告';	//标题
				
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{% get_static_prefix %}js/tender/swf/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#DADADA">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+(focus_width+2)+'&borderheight='+(focus_height+2)+'&textheight='+text_height+'">');
document.write('<embed src="{% get_static_prefix %}js/tender/swf/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#DADADA" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
//-->
</script>
					</td>
					<td align="right">
						<script type="text/javascript">
var focus_width=498;
var focus_height=100;
var text_height=0;
var swf_height = focus_height+text_height
var pics='{% get_static_prefix %}js/tender/uploadfile/2013-02-28/20130228082628899.jpg';		//图片
var links='' ;		//链接
var texts='横幅广告';	//标题
				
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{% get_static_prefix %}js/tender/swf/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#DADADA">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+(focus_width+2)+'&borderheight='+(focus_height+2)+'&textheight='+text_height+'">');
document.write('<embed src="{% get_static_prefix %}js/tender/swf/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#DADADA" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
//-->
</script>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="1003" border="0" cellpadding="0" cellspacing="0"
				class="margin">
				<tr>
					<td width="265" valign="top">
						<table width="250" border="0" cellpadding="0" cellspacing="0"
							class="bor1">
							<tr>
								<td>
									<table width="100%" height="32" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/hyfl.jpg">
										<tr>
											<td width="13">
												&nbsp;
											</td>
											<td align="left" class="menu">
												新加入供应商
											</td>
											<td width="43" align="left" class="more1">
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="padding10" style="line-height: 20px">
									<div id="demo_t0" style="overflow: hidden; height: 286px"
										onmouseover="demo_ti=1" onmouseout="demo_ti=0">
										<div id=demo_t1>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														北京嘉联华建筑工程有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														沈阳博尔特机电设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														上海康驰机电设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														河北盛隆柜业有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														晋城市海湾机械设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														沈阳山太对外贸易有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														上海华铭智能终端设备股份有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														山东圣阳电源股份有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														神马集团
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														北京天之健办公家具展览有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														重庆星特龙实业有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														河南鸿帝环境设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														江苏盛世恒昌仓储设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														上海爱斯特电子有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														宁夏三瑞机械环保设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														山东源泉机械有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														自贡市递壹运输机械厂
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														北京松励德搬运设备有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														烟台三丰机电自动化有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														青岛骏鹏石化设备制造有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														石家庄瑞能电力器材有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														西安荣森电子有限责任公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														晋城市众鑫汽车销售服务有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														武汉奥威斯环保科技有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														广州正明激光科技有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														上海顶竹通讯技术有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														山西欧依重型汽车销售有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														大连海创高科信息技术有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														山东祥通橡塑集团有限公司
													</td>
												</tr>
											</table>
											<table width="100%" height="25" border="0" align="center"
												cellpadding="0" cellspacing="0" style="margin-bottom: 4px">
												<tr>
													<td width="3%" align="center">
														·
													</td>
													<td width="87%">
														上海卓展诺力科技有限公司
													</td>
												</tr>
											</table>

										</div>
										<div id=demo_t2></div>
										<script>
<!---->
var demo_ti=0;
demo_t2.innerHTML=demo_t1.innerHTML
function demo_Marquee(){
  if (demo_ti==1)return
  if(demo_t2.offsetTop-demo_t0.scrollTop<=0)
	demo_t0.scrollTop-=demo_t1.offsetHeight
  else
	demo_t0.scrollTop++
}
setInterval(demo_Marquee,50)
<!---->
</script>
								</td>
							</tr>
						</table>
					</td>
					<td width="378" height="207" valign="top">
						<table width="365" border="0" align="left" cellpadding="0"
							cellspacing="0" class="bor1">
							<tr>
								<td height="29">
									<table width="100%" height="32" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/hyfl.jpg">
										<tr>
											<td width="13">
												&nbsp;
											</td>
											<td align="left" class="menu">
												招标公告
											</td>
											<td width="43" align="left" class="more1">
												<a href="article.php?cat_id=11">更多&gt;&gt;</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" class="padding10">
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71955'
													title="30轮式装载机招标公告">30轮式装载机招标公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71954'
													title="粮库粮食输送装载机械设备采购招标公告">粮库粮食输送装载机械设备采购招标公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71952'
													title="防汛物资管理中心标段一：轮式装载机的公开招标公告">防汛物资管理中心标段一：轮式装载机的公开招标公</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71951'
													title="肖家洼煤矿钻机及注浆泵设备采购招标公告">肖家洼煤矿钻机及注浆泵设备采购招标公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71950'
													title="南宁市明月湖欧洲风情小镇电梯供货及安装工程">南宁市明月湖欧洲风情小镇电梯供货及安装工程</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71949'
													title="内蒙古图牧吉劳教所劳教人员综合习艺用房冷冻设备采购及安装工程招标公告">内蒙古图牧吉劳教所劳教人员综合习艺用房冷冻设备</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71945'
													title="烟台电信科技大厦人防设备采购谈判公告">烟台电信科技大厦人防设备采购谈判公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71944'
													title="水产技术推广站仪器设备冷冻切片机/离心机/高效液相色谱仪/原子荧光分光光度计等采购及相关服务项目招标公告">水产技术推广站仪器设备冷冻切片机/离心机/高效液</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71943'
													title="重庆乌江银盘水电站生产系统检修维护（2013年～2014年）第二次招标公告">重庆乌江银盘水电站生产系统检修维护（2013年～20</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71942'
													title="2013年抽油泵、抽油机采购项目招标公告">2013年抽油泵、抽油机采购项目招标公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>
									<table width="100%" border="0" align="center" cellpadding="0"
										cellspacing="0">
										<tr>
											<td width="3%" align="center">
												·
											</td>
											<td width="87%" height="26">
												<a target='_blank' href='display.php?id=71941'
													title="2013年油管、抽油杆采购项目招标公告">2013年油管、抽油杆采购项目招标公告</a>
											</td>
											<td width="10%" class="date">
												05-21
											</td>
										</tr>
									</table>


								</td>
							</tr>
						</table>
					</td>
					<td width="366" valign="top">
						<table width="365" border="0" align="right" cellpadding="0"
							cellspacing="0" class="bor1">
							<tr>
								<td>
									<table width="100%" height="32" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/hyfl.jpg">
										<tr>
											<td width="13">
												&nbsp;
											</td>
											<td align="left" class="menu">
												招标热点
											</td>
											<td width="43" align="left" class="more1">
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="padding10">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<table width="100%" border="0" align="left" cellpadding="0"
													cellspacing="0">
													<tr>
														<td height="286" valign="top">
															<span style="padding: 0px 5px; line-height: 24px"><a
																href='search.php?KeyName=%B1%E4%D1%B9%C6%F7'>变压器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C0%EB%D0%C4%B1%C3'>离心泵</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C1%F7%BB%AF%B4%B2'>流化床</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%CC%AB%D1%F4%C4%DC'>太阳能</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B0%E5%CA%BD%BB%BB%C8%C8%C6%F7'>板式换热器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C6%C6%CB%E9%BB%FA'>破碎机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B2%C9%C3%BA%BB%FA'>采煤机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D7%AA%D4%D8%BB%FA'>转载机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BD%BA%B4%F8%BB%FA'>胶带机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C6%A4%B4%F8%BB%FA'>皮带机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%D7%D3%C6%A4%B4%F8%B3%D3'>电子皮带秤</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C1%F2%BB%AF%BB%FA'>硫化机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B9%CE%B0%E5%BB%FA'>刮板机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D5%F1%B6%AF%C9%B8'>振动筛</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BC%E0%B2%E2%CF%B5%CD%B3'>监测系统</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D2%BA%D1%B9%D5%BE'>液压站</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D2%BA%D1%B9%D6%A7%BC%DC'>液压支架</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D4%FC%BD%AC%B1%C3'>渣浆泵</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%CF%FB%B7%C0%CF%B5%CD%B3'>消防系统</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D7%D4%D0%B6%B3%B5'>自卸车</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D0%B6%C1%CF%D0%A1%B3%B5'>卸料小车</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C8%E9%BB%AF%B1%C3%D5%BE'>乳化泵站</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C4%E0%BD%AC%B1%C3'>泥浆泵</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%F5%B3%B5'>吊车</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C2%B7%C7%C5%B9%A4%B3%CC'>路桥工程</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B9%EC%B5%C0'>轨道</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D7%B0%D4%D8%BB%FA'>装载机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%C0%C2'>电缆</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C6%FB%B3%B5%BA%E2'>汽车衡</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C0%E4%C4%FD%C6%F7'>冷凝器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%CC%FA%CB%FE'>铁塔</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B9%F8%C2%AF'>锅炉</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BB%BB%C8%C8%C6%F7'>换热器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D1%B9%CB%F5%BB%FA'>压缩机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%CC%DD'>电梯</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D5%E6%BF%D5%B1%C3'>真空泵</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D6%B9%BB%D8%B7%A7'>止回阀</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B1%E4%CB%CD%C6%F7'>变送器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B8%D6%CB%BF%C9%FE'>钢丝绳</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%F5%CB%F7%BE%DF'>吊索具</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B8%DF%BF%D5%D7%F7%D2%B5%B3%B5'>高空作业车</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D6%A7%BC%DC'>支架</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%B6%AF%BA%F9%C2%AB'>电动葫芦</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C8%F7%CB%AE%B3%B5'>洒水车</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BB%FA%B4%B2'>机床</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BC%F5%CB%D9%BB%FA'>减速机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C7%B1%CB%AE%B1%C3'>潜水泵</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%B6%AF%BB%FA'>电动机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BD%D8%D6%B9%B7%A7'>截止阀</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B0%B2%C8%AB%B7%A7'>安全阀</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C0%E4%C8%B4%CB%FE'>冷却塔</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B7%A7%C3%C5'>阀门</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C6%F0%D6%D8%BB%FA'>起重机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B8%A8%BB%FA'>辅机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B9%FD%C2%CB%C6%F7'>过滤器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C6%FB%C2%D6%BB%FA'>汽轮机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D1%B9%CB%F5%BB%FA'>压缩机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%B4%C5%B7%A7'>电磁阀</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B2%F1%D3%CD%B7%A2%B5%E7%BB%FA%D7%E9'>柴油发电机组</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D1%B9%CB%F5%BB%FA'>压缩机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BF%D5%B5%F7%CF%B5%CD%B3'>空调系统</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B4%AB%B8%D0%C6%F7'>传感器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName='></a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BD%C1%B0%E8%C6%F7'>搅拌器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BF%D5%B5%F7%BB%FA'>空调机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BF%D8%D6%C6%B9%F1'>控制柜</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BB%BB%C8%C8%C6%F7'>换热器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C0%E4%C8%B4%CB%FE'>冷却塔</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%C0%C2%C7%C5%BC%DC'>电缆桥架</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%BC%CC%B5%E7%B1%A3%BB%A4'>继电保护</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B8%A8%BB%FA'>辅机</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B9%FD%C2%CB%C6%F7'>过滤器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B5%E7%B4%C5%B7%A7'>电磁阀</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C8%DD%C6%F7'>容器</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B2%F1%D3%CD%B7%A2%B5%E7%BB%FA%D7%E9'>柴油发电机组</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B8%A8%BB%FA%C9%E8%B1%B8'>辅机设备</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%C5%E4%B5%E7%B9%F1'>配电柜</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%CB%AE%B5%E7%B0%B2%D7%B0'>水电安装</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D5%A2%C3%C5'>闸门</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B7%A8%C0%BC'>法兰</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%D0%EE%B5%E7%B3%D8'>蓄电池</a><span
																style='color: #999999; margin: 0px 3px'>|</span><a
																href='search.php?KeyName=%B1%A8%BE%AF%CF%B5%CD%B3'>报警系统</a><span
																style='color: #999999; margin: 0px 3px'>|</span> </span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>


	<tr>
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0"
				class="margin">
				<tr>
					<td>
						<script type="text/javascript">
var focus_width=1002;
var focus_height=110;
var text_height=0;
var swf_height = focus_height+text_height
var pics='{% get_static_prefix %}js/tender/uploadfile/2013-02-27/20130227184038883.jpg';		//图片
var links='' ;		//链接
var texts='横幅广告';	//标题
				
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{% get_static_prefix %}js/tender/swf/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#DADADA">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+(focus_width+2)+'&borderheight='+(focus_height+2)+'&textheight='+text_height+'">');
document.write('<embed src="{% get_static_prefix %}js/tender/swf/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#DADADA" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
//-->
</script>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="1000" border="0" align="left" cellpadding="0"
				cellspacing="0" class="bor1 margin">
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="100%" height="32" border="0" cellpadding="0"
										cellspacing="0"
										background="{% get_static_prefix %}js/tender/templates/default/images/newbg.jpg">
										<tr>
											<td width="13">
												&nbsp;
											</td>
											<td width="76" align="center" class="font1">
												<a href="#">合作伙伴</a>
											</td>
											<td width="912" align="right" class="more">
												&nbsp;
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<img
										src="{% get_static_prefix %}js/tender/templates/default/images/cgbg.jpg"
										width="1001" height="3" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding10" style="line-height: 20px">
						<table width="100%" border="0" cellpadding="0" cellspacing="0"
							class="bor">
							<tr>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2012-10-10/20121010183555455.jpg"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2012-10-10/20121010184050272.gif"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2012-10-10/20121010183806621.gif"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2013-02-27/20130227182626230.gif"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2012-10-10/20121010183855990.jpg"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<td style="padding: 3px">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<a href="http://www.sgcc.com.cn/" target="_blank"
													title="合作伙伴"><img
														src="{% get_static_prefix %}js/tender/uploadfile/2012-10-10/20121010183917321.gif"
														width="149" height="39" alt="合作伙伴" border="0"> </a>
											</td>
										</tr>
									</table>
								</td>
								<tr>
								</tr>
						</table>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="35" valign="bottom">
									<a href="" target="_blank" title="中国机械进出口（集团）有限公司">中国机械进出口（集团）有限公司</a>&nbsp;|
									<a href="" target="_blank" title="中国招投标采购网">中国招投标采购网</a>&nbsp;|
									<a href="" target="_blank" title="中国电力招标与采购网">中国电力招标与采购网</a>&nbsp;|
									<a href="" target="_blank" title="供应商会员协议书下载">供应商会员协议书下载</a>&nbsp;|
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>