<div class="page">
	<div class="pageContent">
	
	<form method="post" action="{% url notice_hotspot_edit hotspot.id %}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="navTabId" value="noticehotspotindex"/>
		<div class="pageFormContent" layoutH="58">
			
			<div class="unit">
				<label>热点编号：</label>
				<input type="text" class="required" size="30"  name="hotspotid" value="{{ hotspot.hotspotid }}" readonly="readonly" />
			</div>
			<div class="unit">
				<label>热点名称：</label>
				<input type="text" class="required" size="30" name="hotspot_name" value="{{ hotspot.hotspot_name }}" readonly="readonly" />
			</div>
			<div class="unit">
				<label>热点级别：</label>
				<input type="text" class="required" size="30" name="level" value="{{ hotspot.level }}" />
			</div>
            <div class="unit">
				<label>备注：</label>
				<input type="text" class="" size="30" name="desc" value="{{ hotspot.desc }}" />
			</div>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>